*{
	margin : 0;
	padding : 0;
}
body{
	margin: 0;
	padding: 0;
}
#graph{
    margin-left: auto;
    margin-right: auto;
}

#graph svg{
	float : left;
	display : block;
	margin-left: 3%;
	-webkit-transition: top 0.7s, left 0.7s;
}
.chartLabel{
	font-weight : 600;
	font-size : 15px;
	stroke : black;
}
.caption-box{
	background: white;
	color: #4F4F4F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.caption-box .caption{
}

.caption-box .sub-caption{
	color: #CBCBCB;
}

.plotTooltip{
	background: #FED8CA;
	color: white;
	padding: 5px;
	border-style: solid;
	color: #8D695E;
	border-color: #E9C2B4;
	-webkit-transition: all 0s;
}
.chart{
	margin-bottom: 50px;
	color: #535353;
}

.chart .axis-label{
	font-size: 13px;
	text-align : left;
	color: #535353;
	stroke: #ABABAB;
	stroke-width: 0.5;
}

.chart .xaxis-label{

}

.chart .yaxis-label{

}

.chart .plot-circle{
	stroke: #1D79CB;
	stroke-width: 1.4;
	fill: white;
	z-index : 99;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.chart .plot-circle-hover{
	stroke: #BC4445;
	stroke-width: 3;
}

.chart .axis{
	stroke-width: 0.chart .9;
	stroke: #DBDBDB;
}

.chart .xaxis{
	stroke: #DBDBDB;
}

.chart .yaxis{
	stroke: #DBDBDB;

}
.chart .chart-line{
	stroke: #1E7AC9;
	stroke-width: 6;
}

.chart .vertical-line{
	stroke: #F38F90;
	stroke-dasharray: 3,2;
	stroke-width: 1;
}


.chart .ticks{
	stroke: #ABABAB;
	stroke-width: 1;
}

.chart .div-lines{
	stroke: #E7E7E7;
	stroke-width: 1;
}

.chart .div-lines:nth-child(even){
	fill: #FFFFFF;
}
.chart .div-lines:nth-child(odd){
	fill: #F7F7F7;
}


.chart .chartLabel{	
	stroke: #CDCDCD;
}

.chart .data-column{
	fill : #1E7ACD;
	stroke : #86B6E1;
	stroke-width : 0.8;
	-webkit-transition: all 0.2s;
}
.chart .data-column-hover{
	fill : #BC4445;
}