body {
 font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
 text-anchor: middle;
}

.graph .labels.y-labels {
 text-anchor: end;
}

.graph .ticks {
  stroke: blue;
  stroke-width: 1;
}
.graph .division{
 stroke:blue;
 stroke-dasharray:5,5;

 stroke-width:0.5;
}

/* X Y axis */
.graph .grid {  
 stroke: black;
 stroke-dasharray: 0;
 stroke-width: 1;
}

.labels {
 font-size: 13px;
}

.label-title {
 font-weight: bold;
 text-transform: uppercase;
 font-size: 12px;
 fill: black;
}

.data {
 fill: red;
 stroke-width: 1; 
}

.chart {
 background: white;
 width: 500px;
 height: 100px;
 border-left: 1px dotted #555;
 border-bottom: 1px dotted #555;
 padding: 20px 20px 20px 0;
}