.chartLabel{
	font-size: 19px;
	padding: 5px;
	background: #009688;
	color: white;
}

 .plotTooltip{
	background: #00796B;
	color: white;
	padding: 5px;
}

.chart .axis-label{
	font-size: 13px;
	text-align : center;
}

.chart .xaxis-label{

}

.chart .yaxis-label{

}

.chart .plot-circle{
	stroke: #009688;
	stroke-width: 1;
	fill: #009688;
}

.chart .axis{
	stroke-width: 0.chart .9;
	stroke : #9E9E9E;
}

.chart .xaxis{

}

.chart .yaxis{
	stroke: rgba(1,1,1,0);

}
.chart .chart-line{
	stroke: #607D8B;
	stroke-width: 1;
}

.chart .ticks{
	stroke: #232528;
	stroke-width: 1;
}

.chart .div-lines{
	stroke: #7E7E7E;
	stroke-dasharray: 5, 15;
	stroke-width: 0.5;
}

